.a-external-link {
  background-color: $color-white;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 19px 54px;
  @include sp() {
    width: 100%;
  }
  text-decoration: none;
  color: $text-color-black;
  border: 1px solid $color-green;
  @include u-fz(18);
  @include font-default-regular();

  @include hover-animation {
    color: $color-white;
  }
}
