.m-season-item {
  display: flex;
  padding: 10px;

  @include tab() {
    padding: 5px;
  }

  @include sp() {
    padding: 5px;
  }

  &:hover {
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &__text {
    width: 68%;
    padding: 5px;
    @include tab() {
      width: 62%;
    }
    @include sp() {
      width: 60%;
    }
  }
  &__time {
    width: 33%;
    flex-grow: 1;
    @include tab() {
      width: 38%;
    }
    @include sp() {
      width: 40%;
    }
  }
}
