* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// body {
//   background-color: $common-text-color;
// }

.p-home {
  display: flex;
  width: 100%;
  max-width: 1440px;
  background-color: $color-home;
  justify-content: space-between;

  //theme``````
  &__themecolor {
    display: flex;
    width: 50%;
    margin: auto;
    div {
      cursor: pointer;
      width: 10%;
      height: 20%;
      padding: 20px;
      margin: 6px;
    }
  }

  //theme end````

  @include sp() {
    width: 100%;
    height: 100%;
  }

  &__navbar {
    width: 17%;
    display: flex;
    flex-direction: column;
    background: $color-dark-lavender;

    &--theme-lightgreen {
      @include themelightgreen;
      @include themetextlightgreen;
    }
    &--theme-green {
      @include themegreen;
      @include themetextgreen;
    }
    &--theme-purple {
      @include themepurple;
      @include themetextpurple;
    }
    &--theme-darkpurple {
      @include themedarkpurple;
      @include themetextdarkpurple;
    }
    &--theme-orange {
      @include themeorange;
      @include themetextorange;
    }
    &--theme-skyblue {
      @include themeskyblue;
      @include themetextskyblue;
    }
    &--theme-darkpink {
      @include themedarkpink;
      @include themetextdarkpink;
    }
    &--theme-lightpurple {
      @include themelightpurple;
      @include themetextlightpurple;
    }
    &--theme-darkmegenda {
      @include themedarkmegenda;
      @include themetextdarkmegenda;
    }

    @include sp() {
      display: none;
    }

    &-off {
      width: 5%;
      display: flex;
      align-items: center;
    }

    &-on {
      width: 17%;
      @include tab() {
        width: 11%;
      }
    }

    &-arrow {
      display: flex;
      width: 90%;
      justify-content: flex-end;
      align-items: flex-end;
      padding-top: 20px;
      &-btn {
        cursor: pointer;

        @include tab() {
          display: none;
        }
      }
    }

    &-menu {
      padding-top: 20px;
      &-button {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

    @include sp() {
      display: none;
    }
  }

  &__content {
    width: 83%;
    display: flex;
    flex-direction: column;
    @include tab() {
      width: 89%;
    }

    &-off {
      width: 95%;
    }

    @include sp() {
      width: 100%;
      padding-bottom: 60px;
    }

    &-searchbar-normal {
      background-color: $color-white;

      @include sp() {
        display: none;
      }

      @include tab() {
        width: 100%;
      }
    }

    &-searchbar-small {
      display: none;

      @include sp() {
        display: inline;
        background-color: $color-white;
        width: 100%;
      }
    }

    &-greeting {
      width: 65.6%;
      padding-top: 47px;
      margin-left: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include sp() {
        width: 100%;
        margin-left: 0px;
        padding-left: 25px;
        padding-top: 24px;
      }

      @include tab() {
        width: 93%;
      }

      &-name {
        width: 30%;

        @include sp() {
          width: 70%;
        }

        &-text {
          @include font-default-bold();
          @include u-fz(21, 25);
          color: $color-dark-lavender;
        }
      }

      &-customize {
        width: 18%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;

        @include sp() {
          display: none;
        }

        &-text {
          @include font-default-bold();
          @include u-fz(14, 17);
          color: $week-color;
        }

        &-logo {
          width: 17px;
          height: 17px;
        }
      }
    }

    &-body {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding-top: 15px;

      @include tab() {
        display: flex;
        justify-content: space-evenly;
      }

      @include sp() {
        width: 98%;
        display: flex;
        justify-content: center;
        padding-top: 15px;
        align-items: center;
      }

      &-program {
        width: 65.6%;
        display: flex;
        flex-direction: column;

        @include sp() {
          width: 95%;
        }

        @include tab() {
          width: 93%;
        }

        &-active {
          width: 100%;
          background-color: $color-white;
          border-radius: 20px;
          padding-bottom: 30px;

          &-items {
            display: flex;
          }

          &__border {
            border-top: 1px solid $active-programs-border-item;
            margin: 0px 26px;
            margin-top: 25px;
          }
        }

        &-other {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-top: 27px;
          padding-bottom: 35px;

          @include sp() {
            flex-direction: column;
            row-gap: 20px;
          }

          &-research {
            width: 42.7%;

            @include sp() {
              width: 100%;
            }

            @include tab() {
              width: 42%;
            }
          }

          &-upcoming-season {
            width: 54%;

            @include sp() {
              width: 100%;
            }

            @include tab() {
              width: 54%;
            }
          }
        }
      }

      &-messenger {
        width: 25.8%;
        background-color: $color-white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        @include sp() {
          display: none;
        }
        @include tab() {
          display: none;
        }

        &-top {
          border-bottom: 1px solid $messenger-top-border-bottom-color;
        }

        &-myday {
          width: 100%;
          &-border {
            width: 92%;
            margin-left: 12px;
            border-bottom: 1px solid $color-gray;
          }
        }
      }
    }
  }
}

.o-card-theme {
  display: flex;
  column-gap: 20px;
  width: 50%;
  margin: 20px;
  &__colortheme {
    display: flex;
  }
  &__common {
    div {
      cursor: pointer;
      width: 10%;
      height: 20%;
      padding: 20px;
      margin: 6px;
    }
  }
  &__theme-green {
    @include themelightgreen;
  }
  &__theme-yellow {
    @include themeorange;
  }
  &__theme-purple {
    @include themepurple;
  }

  &__right-content {
    width: 50%;
    height: 40%;

    &--theme-green {
      @include themelightgreen;
    }
  }
}
