.pt-small {
  padding-top: 1rem;
}

.pt-medium {
  padding-top: 2rem;
}

.pt-large {
  padding-top: 3rem;
}

.pb-small {
  padding-bottom: 1rem;
}

.pb-medium {
  padding-bottom: 2rem;
}

.pb-large {
  padding-bottom: 3rem;
}
