.a-notification-circle {
  width: 25px;
  height: 25px;
  background-color: $color-purple;
  border-radius: 50%;
  display: block;

  ///themes
  &--theme-lightgreen {
    @include themelightgreen;
  }
  &--theme-green {
    @include themegreen;
  }
  &--theme-orange {
    @include themeorange;
  }
  &--theme-purple {
    @include themepurple;
  }
  &--theme-darkpurple {
    @include themedarkpurple;
  }
  &--theme-lightpurple {
    @include themelightpurple;
  }
  &--theme-skyblue {
    @include themeskyblue;
  }
  &--theme-darkpink {
    @include themedarkpink;
  }
  &--theme-darkmegenda {
    @include themedarkmegenda;
  }

  //themes end

  &__text {
    @include u-fz(14, 16);
    text-align: center;
    font-weight: $font-weight-medium;
    font-family: $font-family-default;
    color: $color-white;
    padding-top: 4.5px;
  }

  &--normal-text {
    // display: none;
  }
}
