$color-pure-black: #000000;
$color-black: #4c4743;
$color-white: #ffffff;
$color-green: #00b078;
$color-gray: #ededed;

$color-profile-designation: #0a043c;
$color-placeholder: #8695a0;
$color-upcoming-title: #65708d;
$color-search-bar: #f8f8fc;
$color-home: #f0eff5;

///sidenav
$color-light-white: #deddff;
$color-dark-lavender: #333269;
$color-nav-logo-gray: #a1a1c2;
$text-color-deep-red: #ee3637;
$text-color-light-purple: #c0beff;

///end

///colors ux-research
$color-purple: #5855d6;
$background-color-Ghost-White: #fafaff;
$text-color-persian-blue: #0e1566;
$text-color-light-gray: #9592a6;
$text-color-greysuit: #868597;
$text-color-red: #ff2c55;

$text-color-default: #322c28;
$text-color-black: #000000;
$text-color-lightgray: #cecece;
$text-color-green: #00b078;
$text-color-gray: #9592a6;

$border-color-coffee: #322c28;
$border-color-gray-dark: #707070;
$border-color-dove-gray: #646464;
$border-color-black: #000000;

$upcoming-season-text-color: #021442;
$time-label-bg-color: #e7e7ff;
$time-label-color: #333269;

$week-color: #5855d6;

$common-text-color: #6a6c71;
$common-task-readMore: #16c36e;
$common-title-color: #000000;

//active program color
$active-programs-color: #333269;
$active-programs-item-right-item-text-color: #9592a6;
$active-programs-item-dept-bg-color: #5855d6;
$active-programs-border-item: #eeeeee;

// messenger top color
$messenger-top-text-color: #333269;
$messenger-top-border-bottom-color: #eeeeee;

$messaging-active-time-text: #77838f;

//themecolors
$theme-skyblue: #2827cc;
$theme-lightgreen: #66ad47;
$theme-orange: #e07c24;
$theme-purple: #5a20cb;
$theme-light-purple: #8d3daf;
$theme-green: #1c8d73;
$theme-dark-megenda: #6a1b4d;
$theme-dark-pink: #e03b8b;
