@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$font-family-default: "Hiragino Kaku Gothic ProN", "Hiragino Sans",
  "Noto Sans JP", "YuGothic", sans-serif;
$font-family-alphabet: "Montserrat", sans-serif;

$font-family-text: "Open Sans", sans-serif;

$font-family-Source-Sans-Pro: "Source Sans Pro";
$font-family-MuseoModerno: "MuseoModerno";

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-six: 600;
