$z-index-header-bright: 999;
$z-index-header: 1000;
$z-index-header-hamburger-menu-change: 1040;
$z-index-sp-menu-before-after: 1050;
$z-index-sp-menu-background: 1060;
$z-index-sp-menu-item-name: 1070;
$z-index-logo: 1080;
