.a-active-programs-item-dept-name {
  @include font-default-medium();
  @include u-fz(10, 24);
  color: $color-white;
  margin: 0;
  padding: 0px 10px;
  @include sp() {
    padding: 0px;
  }

  //themes
  &--theme-lightgreen {
    @include themelightgreen;
  }
  &--theme-orange {
    @include themeorange;
  }
  &--theme-purple {
    @include themepurple;
  }
  &--theme-skyblue {
    @include themeskyblue;
  }
  &--theme-darkpink {
    @include themedarkpink;
  }
  &--theme-lightpurple {
    @include themelightpurple;
  }
  &--theme-green {
    @include themegreen;
  }
  &--theme-darkmegenda {
    @include themedarkmegenda;
  }

  //themes end
}
