.a-messenger-top-icon {
  &--search {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  &--create {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  &--menu {
    width: 15px;
    height: 2.82px;
    cursor: pointer;
  }
  &--hide {
    width: 15px;
    height: 8.17px;
    cursor: pointer;
  }
  &--fullwidth {
  }
}
