.o-sidenav {
  @include pc() {
    background-color: $color-dark-lavender;
    // padding-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  @include sp() {
    display: none;
  }
  //themes

  &--theme-lightgreen {
    @include themelightgreen;
  }
  &--theme-orange {
    @include themeorange;
  }
  &--theme-purple {
    @include themepurple;
  }
  &--theme-skyblue {
    @include themeskyblue;
  }
  &--theme-darkpurple {
    @include themedarkpurple;
  }
  &--theme-darkpink {
    @include themedarkpink;
  }
  &--theme-lightpurple {
    @include themelightpurple;
  }
  &--theme-green {
    @include themegreen;
  }
  &--theme-darkmegenda {
    @include themedarkmegenda;
  }

  //themes end

  &__bottomborder {
    position: fixed;
    width: 134px;
    bottom: 0;
    left: 122px;
    right: 119px;

    img {
      width: 134px;
    }
  }
}
